{{#if details.errorMessage}}
  <div class="mt-2">
    <div class="alert alert-danger">
      <pre>{{details.errorMessage}}</pre>
    </div>
    <button type="button" class="p-btn btn btn-sm btn-secondary retry-btn mt-2"{{action "retryLookup"}}>
      {{#if running}}
        {{fa-icon icon="spinner-third" fixedWidth=true spin=true}}
      {{else}}
        Retry Search
      {{/if}}
    </button>
    <div class="mt-1">
      <span class="p-footnote"> You can retry your search by pressing the "Retry Search" button.</span>
    </div>
  </div>
{{else}}
  <div>
    <span class="p-key">Server: </span>
    <span class="p-value">{{details.server}}</span>
  </div>
  <div>
    <span class="p-key">Query Time:</span>
    <span class="p-value">{{details.time}} ms</span>
  </div>
  <div>
    <span class="p-key">Msg Size:</span>
    <span class="p-value">{{details.size}} bytes</span>
  </div>

  <ul class="nav nav-tabs mt-2">
    {{#if details.answer}}
      <li class="nav-item">
        <a {{action "changeTab" "answer"}} class="nav-link {{if (eq activeTab "answer") "active"}}" href="#">Answer ({{details.answer.length}})</a>
      </li>
    {{/if}}
    {{#if details.authority}}
      <li class="nav-item">
        <a
          {{action "changeTab" "authority"}}
          class="nav-link {{if (eq activeTab "authority") "active"}}"
          href="#"
        >Authority ({{details.authority.length}})</a>
      </li>
    {{/if}}
    <li class="nav-item">
      <a {{action "changeTab" "headers"}} class="nav-link {{if (eq activeTab "headers") "active"}}" href="#">Headers</a>
    </li>
  </ul>

  {{#if (eq activeTab "authority")}}
    <h1 class="p-title">{{fa-icon "shovel" fixedWidth=true}} Authority</h1>
    <div class="scrollable-block">
      {{#each details.authority as |authority index|}}
        <div class="mt-2">
          <div>
            <span class="p-key">Domain:</span>
            <span class="p-value">{{authority.[0]}}</span>
          </div>
          <div>
            <span class="p-key">Value:</span>
            <span class="p-value">{{authority.[4]}}</span>
          </div>
          {{#if (gt authority.length 5)}}
            <div>
              <span class="p-key">Value 2:</span>
              <span class="p-value">{{authority.[5]}}</span>
            </div>
          {{/if}}
          <div>
            <span class="p-key">Class:</span>
            <span class="p-value">{{authority.[2]}}</span>
          </div>
          <div>
            <span class="p-key">ttl:</span>
            <span class="p-value">{{authority.[1]}} seconds</span>
          </div>
          <div>
            <span class="p-key">Type:</span>
            <span class="p-value">{{authority.[3]}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if (eq activeTab "answer")}}
    {{#if details.answer}}
      <h1 class="p-title">{{fa-icon "shovel" fixedWidth=true}} Answers</h1>
    {{/if}}
    <div class="scrollable-block">
      {{#each details.answer as |answer index|}}
        <div class="mt-2">
          <div>
            <span class="p-key">Domain:</span>
            <span class="p-value">{{answer.domain}}</span>
          </div>
          <div>
            <span class="p-key">Value:</span>
            <span class="p-value">{{answer.value}}</span>
          </div>
          <div>
            <span class="p-key">Class:</span>
            <span class="p-value">{{answer.class}}</span>
          </div>
          <div>
            <span class="p-key">ttl:</span>
            <span class="p-value">{{answer.ttl}} seconds</span>
          </div>
          <div>
            <span class="p-key">Type:</span>
            <span class="p-value">{{answer.type}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if (eq activeTab "headers")}}
    <div class="header-block mt-2">
      {{#each details.header as |row|}}
        {{row}}<br />
      {{/each}}
    </div>
  {{/if}}
{{/if}}